{% extends "layout.html" %}

{% block pageTitle %}
  Establishment trading? - RAFB
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

			<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				  <h1 class="govuk-fieldset__heading">
					Is this establishment already trading?
				  </h1>
				</legend>
				
				<details class="govuk-details" data-module="govuk-details">
				  <summary class="govuk-details__summary">
					<span class="govuk-details__summary-text">
					  What is an establishment?
					</span>
				  </summary>
				  <div class="govuk-details__text">
					An establishment is the location of your food business. If it is a mobile food business, please use the location where it is normally stored overnight.
				  </div>

				</details>
				
				<div id="changed-name-hint" class="govuk-hint">
      It has been trading if it has been producing or serving food at the location since it opened or since the new operator took control. </div>
				
				
				<div class="govuk-radios">
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="yes">
					<label class="govuk-label govuk-radios__label" for="where-do-you-live">
					  Yes, it is already trading
					</label>
				  </div>
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="no">
					<label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
					  No, it is not trading yet
					</label>
				  </div>
				</div>

			  </fieldset>
			</div>


            </div>
            <div class="grid-row">
              <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            </div>


          </fieldset>
          </div>
      </form>


      </div>
    </div>
</main>

{% endblock %}
